/* === VARIABLES GLOBALES === */
:root {
    --font-zain-light: 'Zain-Light', sans-serif;
    --font-zai-tornpaper: 'Zai-TornPaper', serif;
    --title-drop-shadow: 5px -4px 4px 0px rgba(0, 0, 0, 0.5);
    --color-white: #EFF3FB;
    --color-black: #000000;
    --color-beige: #DFDAD5;

    --button-image: url('images/bouton.png');
}

/* === FONTS === */
@font-face {
    font-family: 'Zain-Light';
    src: url('fonts/zain/Zain-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Zai-TornPaper';
    src: url('fonts/zai_TornPaper/zai_TornPaper.ttf') format('truetype');
}

/* === GLOBAL === */
body {
    font-family: var(--font-zain-light);
    background: var(--color-white) url("medias/background_desktop.jpg") no-repeat center/cover fixed;
    color: var(--color-black);
    margin: 0;
}

h1 {
    font-family: var(--font-zai-tornpaper);
    text-align: center;
    font-size: 7rem;
    margin-bottom: 2rem;
    color: var(--color-black);
    -webkit-text-stroke: 3px var(--color-black);
    position: relative;
}

h1:hover {
    color: transparent;
    /* Changer la couleur du texte en noir au survol */
}


h2 {
    font-family: var(--font-zain-light);
    font-size: 5rem;
    margin-top: 4rem;

}

h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}

p {
    font-size: 2rem;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* === NAVBAR === */
.navbar-nav {
    gap: 50px;
    /*espace entre À propos Projets Contact*/
    color: var(--color-white);
}

.navbar-brand {
    font-size: 6rem;
    color: var(--color-black);
    font-family: var(--font-zai-tornpaper);
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-nav .nav-link {
    font-size: 3rem;
}

.navbar-nav .nav-link:hover {
    color: var(--color-white);
}


/* === HEADER === */
header {
    margin-top: 150px;
}


/* === SECTION À PROPOS (FLIP-CARD) === */
.flip-card {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 800px;
    perspective: 1000px;
    /* effet 3D */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 20px;
}

.flip-card-front img {
    border-radius: 20px;
}

.flip-card-back {
    background: var(--color-beige);
    transform: rotateY(180deg);
    padding: 2rem;
}

/* section apropos */
#apropos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    margin-bottom: 150px;
    /* espace vers Mes Projets */
}


/* === CAROUSEL PROJETS === */
#projets {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
    color: var(--color-white);
}

#projets h2 {
    margin-bottom: 2rem;
}

#projets .carousel-item h3 {
    font-family: var(--font-zain-light);
    font-size: 2.5rem;
    margin-top: 1rem;
}


/* === COMPÉTENCES (SWIPER) === */
#competences {
    margin-bottom: 150px;
    /* espace avant le footer */
}

.competences-swiper {
    margin-top: 150px;
    /* espace sous le titre Mes Compétences */
}

.competences-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.competences-swiper img {
    max-width: 80px;
    transition: transform 0.3s ease;
}

.competences-swiper img:hover {
    transform: scale(1.1);
}



/* === SECTION PROJET === */
#projet {
    padding: 60px 20px;
}

#projet .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projet .col-12 {
    /* Utilisation de col-12 pour que cette colonne prenne toute la largeur */
    max-width: 100%;
}

.logiciels {
    text-align: left;
}













/* === FOOTER === */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* === RESPONSIVE MOBILE === */
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.8rem;
    }


    /* === Page d'accueil === */


    .flip-card {
        width: 50%;
        height: auto;
    }

    .navbar-brand {
        font-size: 4rem;
    }

    .navbar-nav .nav-link {
        font-size: 2rem;
    }




    /* === SECTION PROJET === */

    #projet h1 {
        font-size: 2.5rem;
    }

    #projet h3 {
        font-size: 1.8rem;
    }

    #projet p {
        font-size: 1rem;
    }
}